<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-toolbar color="primary">
    <ion-title>Amigos: </ion-title>
  </ion-toolbar>

    <ng-container *ngFor="let friend of friends; let i = index">
      <ion-card *ngIf="friend.friend" (click)="goToConversation(friend.uid)">
        <ion-card-header>
          <ion-card-subtitle>@{{friend.subnick}}</ion-card-subtitle>
          <ion-card-title>{{i + 1}} - {{friend.nick}}</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ng-container>

  <ion-toolbar color="primary">
    <ion-title>No agregados: </ion-title>
  </ion-toolbar>
  <ng-container *ngFor="let friend of friends; let i = index">
    <ion-card *ngIf="!friend.friend">
        <ion-card-header>
          <ion-card-subtitle>@{{friend.subnick}}</ion-card-subtitle>
          <ion-card-title>{{i + 1}} - {{friend.nick}}</ion-card-title>
        </ion-card-header>
      </ion-card>
  </ng-container>
  
    
</ion-content>
